#container { 
    background-color: #ffffff;

}

.inputClass { 
    border-color: var(--ion-color-medium-shade);
    border-radius: 3px;
    border-width: 1px;
    box-shadow: 2px gray;
    background: #f8f9fa;
    color: var(--ion-color-success-contrast);
}

.inputText{
    font-weight: 500;
}

.mainButton { 
    width: 414px;
    height: 50px;
  }