<ion-header collapse="condense" scroll-y="false">
  <br>
  <br>
  <ion-toolbar>
    <ion-title size="large" class="ion-text-center">Map</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <ion-list style="text-align:center">
  <div id="map" #map></div>
  <br>
  <ion-button color="primary" shape="round" color="primary" full (click)="post()">SEND ALERT</ion-button>
  <ion-button href="" color="primary" class="mainButton" shape="round">Back</ion-button>
  </ion-list>
</ion-content>
