<ion-content [fullscreen]="true" scroll-y="false">
  <br>
  <br>
  <ion-header collapse="condense">
    <ion-list style="text-align:center">
    <ion-toolbar id="toolbar">
      <ion-title size="large" class="ion-text-center">Solwara</ion-title>
      <br>
    <img style="width: 150px; height: 150px; align-items: center;" src="https://teamworkoutplatform.s3.us-west-2.amazonaws.com/logo.png">
      <br>
      <br>
      <br>
    </ion-toolbar>
    </ion-list>
  </ion-header>

  <div id="container">
  <ion-button href="travel-request" color="primary" class="mainButton" shape="round">Travel Request</ion-button>
  <br>
  <ion-button href="about" color="primary" class="mainButton" shape="round">About</ion-button>
  <br>
  <ion-button href="map" color="primary" class="mainButton" shape="round">Map</ion-button>
  </div>
</ion-content>
  